# Práctica II
## Entregado por: Sara Maria Lopez Palomino

In [7]:
import pandas as pd
import numpy as np

## 1. Creación de DataFrames

In [13]:
df1 = pd.DataFrame({"numeros":range(20)})
df1.head(20)

    numeros
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19