# Pr치ctica II
## Entregado por: Sara Maria Lopez Palomino

In [2]:
import pandas as pd
import numpy as np

## 1. Creaci칩n de DataFrames

In [3]:
df1 = pd.DataFrame({"numeros":range(20)})
print("Punto A) DataFrame df1: \n",df1.head(20))

Punto A) DataFrame df1:
     numeros
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19

In [4]:
df2 = pd.DataFrame ({"aleatorios": np.random.rand(10)})
print("Punto B) DataFrame df2: \n",df2.head(10))

Punto B) DataFrame df2:
    aleatorios
0    0.783317
1    0.075010
2    0.256998
3    0.259303
4    0.596538
5    0.608440
6    0.235138
7    0.063236
8    0.111039
9    0.351310

In [5]:
df3 = pd.concat([df1, df2], axis=1)
print("Punto C)  DataFrame df3 combinado: \n",df3.head(20))

Punto C)  DataFrame df3 combinado:
     numeros  aleatorios
0         0    0.783317
1         1    0.075010
2         2    0.256998
3         3    0.259303
4         4    0.596538
5         5    0.608440
6         6    0.235138
7         7    0.063236
8         8    0.111039
9         9    0.351310
10       10         NaN
11       11         NaN
12       12         NaN
13       13         NaN
14       14         NaN
15       15         NaN
16       16         NaN
17       17         NaN
18       18         NaN
19       19         NaN

In [6]:
df3.to_csv("df3_combinado.csv", index=False)
print("Punto D) DataFrame df3 guardado en 'df3_combinado.csv'")

Punto D) DataFrame df3 guardado en 'df3_combinado.csv'

## 2.Indexaci칩n y selecci칩n

In [10]:
df = pd.DataFrame({
            "A": range(1, 11),
            "B": [5,3,6,8,2,9,1,7,4,10]
})
df.head(10)

    A   B
0   1   5
1   2   3
2   3   6
3   4   8
4   5   2
5   6   9
6   7   1
7   8   7
8   9   4
9  10  10

In [11]:
con_df= df["B"]>5
df[con_df][["A","B"]]

    A   B
2   3   6
3   4   8
5   6   9
7   8   7
9  10  10

In [13]:
na_con =df["B"]<4
df.loc[na_con,"B"] = pd.NA
df

    A     B
0   1   5.0
1   2   NaN
2   3   6.0
3   4   8.0
4   5   NaN
5   6   9.0
6   7   NaN
7   8   7.0
8   9   4.0
9  10  10.0